# dependencies
node_modules/
.pnpm-store/

# build outputs
dist/
.next/
out/
build/

# environment
.env
.env.local
.env.*.local

# logs
*.log
pino.*.log

# prisma
prisma/*.db
prisma/migrations

# editors
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
